.mat-elevation-z8{
    width: 1320px;
   
}
.mark{
    text-align: center ;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.save-button {
    background: green;
  }
/* a{
    padding: 5px;
    color: white !important;
} */
 