
<h2 style="font-family: Gill sans MT-12px; font-size: 22px ; margin-top: -1.5%;">Edit Assignment</h2>



<div class="mat-elevation-z8">
    <!-- <div>
        <a mat-raised-button color="primary" (click)="Openpopup('')" style="margin: 2%">Create New</a>
    </div> -->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <mat-label><fa-icon [icon]="faSearch" size="1x" ></fa-icon>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <table mat-table [dataSource]="finaldata" matSort class="mat-elevation-z8">
     
        <!-- <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;" ><strong>ID</strong></th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container> -->
        <ng-container matColumnDef="vamid" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;font-size: 15px; " > <strong>VAM ID</strong></th>
          <td mat-cell *matCellDef="let element">{{element.vamid}}</td>
        </ng-container>

        <ng-container matColumnDef="resourceName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;font-size: 15px; "><strong> Name</strong></th>
            <td mat-cell *matCellDef="let element">{{element.resourceName}}</td>
          </ng-container>

          <!-- <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef style="color: white;" [hidden]="true"><strong>Email</strong></th>
            <td mat-cell *matCellDef="let element">{{element.email }}</td>
          </ng-container> -->

          <ng-container matColumnDef="techTrack">
            <th mat-header-cell *matHeaderCellDef style="color: white;font-size: 15px; "><strong>Technology Track</strong></th>
            <td mat-cell *matCellDef="let element">{{element.programsTracker.techTrack }}</td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef style="color: white;font-size: 15px; "><strong>Category</strong></th>
            <td mat-cell *matCellDef="let element">{{element.programsTracker.category}}</td>
          </ng-container>

          <ng-container matColumnDef="program">
            <th mat-header-cell *matHeaderCellDef style="color: white;font-size: 15px; "><strong>Program Name</strong></th>
            <td mat-cell *matCellDef="let element">{{element.programsTracker.program }}</td>
          </ng-container>

          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef style="color: white;font-size: 15px; "><strong>Start Date</strong></th>
            <td mat-cell *matCellDef="let element">{{element.startDate|date: 'yyyy-MM-dd'}}</td>
          </ng-container>

          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef style="color: white;font-size: 15px; "><strong>End Date</strong></th>
            <td mat-cell *matCellDef="let element">{{element.endDate|date: 'dd-MM-yyyy'}}</td>
          </ng-container>

          <ng-container matColumnDef="sme">
            <th mat-header-cell *matHeaderCellDef style="color: white;font-size: 15px; "><strong> SME Name</strong></th>
            <td mat-cell *matCellDef="let element">{{element.sme}}</td>
          </ng-container>

          <!-- <ng-container matColumnDef="programStatus">
            <th mat-header-cell *matHeaderCellDef style="color: white;font-size: 15px; "><strong> Program Status</strong></th>
            <td mat-cell *matCellDef="let element">{{element.programStatus}}</td>
          </ng-container> -->

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="color: white;font-size: 15px; "><strong> Action</strong></th>
            <td mat-cell *matCellDef="let element">
                <div>
                  <a type="button" (click)="EditCompany(element)" class="btn btn-info">Edit</a> |
                    <!-- <a mat-raised-button (click)="EditCompany(element.id)" color="primary">Edit</a> | -->
                    <!-- <a mat-raised-button (click)="RemoveCompany(element.id)" color="accent">Delete</a> -->
                    <a (click)="RemoveCompany(element.id)"  type="button" class="btn btn-secondary">Delete</a>
                </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayColums" style="background-color: darkslategray; font-family: gill sans MT-12px;" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayColums; "></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons 
  aria-label="Select page of periodic elements">
</mat-paginator>
</div>
