
<html lang="en" >  
<head>  
  <meta charset="UTF-8">  
  <title> Login </title>  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">  
</head>  
<style>  
html {   
    height: 100%;   
}  
body {   
    height: 100%;   
}  
.global-container {  
    height: 100%;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    background-color: #f5f5f5;  
}  
form {  
    padding-top: 10px;  
    font-size: 14px;  
    margin-top: 30px;  
}  
.card-title {   
font-weight: 300;  
 }  
.btn {  
    font-size: 14px;  
    margin-top: 20px;  
}  
.login-form {   
    width: 330px;  
    margin: 20px;  
}  
.sign-up {  
    text-align: center;  
    padding: 20px 0 0;  
}  
.alert {  
    margin-bottom: -30px;  
    font-size: 13px;  
    margin-top: 20px;  
}  
</style>  
<body>  
<div class="pt-5">  
  <div class="global-container">  
    <div class="card login-form">  
    <div class="card-body">  
        <h3 class="card-title text-center"> Login </h3>  
        <div class="card-text">  
            <form>  
                <div class="form-group">  
                    <label for="exampleInputEmail1"> Enter Email address </label>  
                    <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">  
                </div>  
                <div class="form-group">  
                    <label for="exampleInputPassword1">Enter Password </label>  
                    <a href="#" style="float:right;font-size:12px;"> Forgot password? </a>  
                    <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">  
                </div>  
                <button type="submit" class="btn btn-primary btn-block" routerLink="/company"> Sign in </button>  
                  
                <div class="sign-up">  
                    Don't have an account? <a href="#"> Create One </a>  
                </div>  
            </form>  
        </div>  
    </div>  
</div>  
</div>  



<!-- <div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="panel-body p-3">
                        
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">
                                    <span class="fa.fa-user p-2"></span>
                                    
                                    <input type="text" class="form-control" id="username" [(ngModel)]="login.userName" placeholder="Enter username" name="username">
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" class="text-danger">*Username is required</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                                    <span class="fa.fa-lock p-2"></span>

                                    
                                    <input type="password" class="form-control" [(ngModel)]="login.password" id="password"placeholder="Enter password" name="password">
                                    <span (click)="hideShowPass()" class=" fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*Password is required</small>
                            <div class="form-inline fr mt-4">
                                <a id="forget" class="font-weight-bold">Forget Password</a>
                            </div>
                            <button (click)="handleLogin()" type="submit" class="btn btn-primary btn-block mt-3 w-100">Login</button>
                            <div class="text-center pt-4 text-muted">Don't have account? <a id="forget" routerLink="/sign up">SignUp</a></div>
                            
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
</div> -->

                        

  

