
  <form [formGroup]="companyform">
    <div class="form-row">
      <div class="form-group col-md-6" hidden>
        <label for="inputEmail4">ID</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="id"
        >
      </div>
      
      <div class="form-group col-md-6">
        <label for="inputPassword4">VAM ID</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="vamid" 
        formControlName="vamid" [(ngModel)]="vamid" name="vamid" #ngModel>
      </div>

      <div class="form-group col-md-6">
        <label for="inputAddress">Name</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Name"
         formControlName="name" [(ngModel)]="resourceName" name="resourceName" #ngModel>
      </div>

      <div class="form-group col-md-6">
        <label for="inputAddress2">Email</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="email"
        formControlName="email" [(ngModel)]="email" name="email" #ngModel>
      </div>
        <div class="form-group col-md-6">
          <label for="inputAddress2" >Manager</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="manager"
          formControlName="manager" [(ngModel)]="manager" name="manager" #ngModel >
        </div>

      <div class="form-group col-md-6">
        <label for="inputState">TechTrack</label>
        <select id="inputState" class="form-control" formControlName="TechTrack" [(ngModel)]="TechTrack" name="TechTrack" #ngModel>
          <option >JAVA</option>
          <option>.NET</option>
        </select>
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="inputAddress">Category</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Category">
    </div>

    <div class="form-group">
      <label for="inputAddress2">Program Name</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Program Name">
    </div> -->

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity" >Start Date</label>
        <input id="date" name="date" class="form-control" type="date" placeholder="MM/DD/YYY" 
        formControlName="startDate" [(ngModel)]="startDate" name="startDate" #ngModel >
      </div>

      <div class="form-group col-md-6">
        <label for="inputState">End Date</label>
        <input  id="date" name="date"  class="form-control" type="date" placeholder="MM/DD/YYY" 
        formControlName="endDate" [(ngModel)]="endDate" name="endDate" #ngModel>
        
      </div>
      
      </div>
      <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputState">SME</label>
        <select id="inputState" class="form-control" 
        formControlName="SME" [(ngModel)]="SME" name="SME" #ngModel>
          <option selected>Sarojini</option>
          <option>Vasudha</option>
          <option>Rupesh</option>
        </select>
      </div>

    <div class="form-group col-md-6">
      <label for="inputAddress">Program Status</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="status"
        formControlName="ProgramStatus" [(ngModel)]="ProgramStatus" name="ProgramStatus" #ngModel>
    </div>
  </div>
  <div class="example-button-row" style="margin: 2px">
    <button mat-raised-button color="primary" (click)="submit()">Save</button> 
    <a (click)="closepopup()" mat-raised-button color="accent" >Close</a>
  </div>
  </form>












