<form [formGroup]="companyform">
  <div class="form-row">
    <div class="form-group" hidden>
      <label for="inputEmail4">ID</label>
      <input
        type="text"
        class="form-control"
        id="inputEmail4"
        placeholder="id"
        formControlName="id"
        [(ngModel)]="id"
        name="id"
        #ngModel
      />
    </div>

    <div class="form-group col-md-6">
      <label for="inputPassword4">VAM ID</label>
      <input
        type="text"
        class="form-control"
        id="inputPassword4"
        placeholder="vamid"
        formControlName="vamid"
        [(ngModel)]="vamid"
        name="vamid"
        (change)="UserInfo(vamid)"
      />
    </div>

    <div class="form-group col-md-6">
      <label for="inputAddress">Name</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="Name"
        value="{{ userdetails.name }}"
        formControlName="resourceName"
        name="resourceName"
        required
      />
    </div>

    <div class="form-group col-md-6">
      <label for="inputAddress2">Email</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress2"
        [value]="email"
        formControlName="email"
        value="{{ userdetails.email }}"
        name="email"
        required
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress2">PM/DM</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress2"
        placeholder="manager"
        formControlName="manager"
        [(ngModel)]="manager"
        name="manager"
        #ngModel
        required
      />
    </div>

    <div class="form-group col-md-6">
      <label for="inputState">Technology Track</label>
      <select
        id="inputState"
        class="form-control"
        formControlName="techTrack"
        [(ngModel)]="techTrack"
        name="TechTrack"
        #ngModel
        required
        (click)="dropdown()"
      >
        <option
          *ngFor="let techTrack of listitems"
          [value]="techTrack.techTrack"
        >
          {{ techTrack.techTrack }}
        </option>
      </select>
    </div>
  </div>

  <!-- <div class="form-group">
      <label for="inputAddress">Category</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Category">
    </div>

    <div class="form-group">
      <label for="inputAddress2">Program Name</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Program Name">
    </div> -->

  <div class="form-row">
    <!-- <div class="form-group col-md-6">
      <label for="inputCity">Start Date</label>
      <input
        id="startDate"
        class="form-control"
        type="date"
        placeholder="MM/DD/YYY"
        formControlName="startDate"
        
        name="startDate"
      />
    </div> -->
    <div class="col-md-6 col-sm-12">
      <input type="date" name="startDate" class="form-control" 
      (change)="updateEndDate()"
      [ngClass]="{ 'is-invalid': isSubmited && regForm.controls['startDate'].errors?.['required']}"
      formControlName="startDate"/>
  </div>
  <div class="col-md-6 col-sm-12">
    <input type="date" name="endDate" 
    [ngClass]="{ 'is-invalid': isSubmited && regForm.controls['endDate'].errors?.['required'] }"
    class="form-control" formControlName="endDate"/>
</div>

    <!-- <div class="form-group col-md-6">
      <label for="inputState">End Date</label>
      <input
        id="endDate"
        class="form-control"
        type="date"
        formControlName="endDate"
        name="endDate"
        value="{{ enddatedetails | date : 'yyyy-MM-dd' }}"
      />
    </div> -->
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputState">SME</label>
      <select
        id="inputState"
        class="form-control"
        formControlName="sme"
        [(ngModel)]="sme"
        name="SME"
        #ngModel
        required
      >
        <option selected>Sarojini</option>
        <option>Vasudha</option>
        <option>Rupesh</option>
      </select>
    </div>
  </div>
  <div class="example-button-row" style="margin: 2px">
    <a type="button" (click)="submit()" class="btn btn-info">Save</a>&nbsp;
    |&nbsp;
    <!-- <button mat-raised-button color="primary" (click)="submit()">Save</button>&nbsp; |&nbsp; -->
    <!-- <a (click)="closepopup()" mat-raised-button color="accent" >Close</a> -->
    <a (click)="closepopup()" type="button" class="btn btn-secondary">Close</a>
  </div>
</form>